<section class="columns">
  @for (col of columns; track $index) {
    <div class="column"
         [contextMenu]="null"
         (menuRequested)="contextMenu.open($event, fileSystemHelper.findParentWithoutTarget($index, selectedObj,data))"
         (menuClosed)="contextMenu.close()"
    >
      <ul class="list">
        @for (item of col; track item.id) {
          <li
            class="entry"
            [class.entry--folder]="!item.file"
            [class.entry--file]="!!item.file"
            [class.selected]="selectedObj === item"
            [contextMenu]="item"
            (click)="selectObj(item)"
            (menuRequested)="contextMenu.open($event, fileSystemHelper.findParent($event.target, data))"
            (menuClosed)="contextMenu.close()"
          >
            <mat-icon>{{ item.file ? 'insert_drive_file' : 'folder' }}</mat-icon>
            <span>{{ item.name }}</span>
          </li>
        }
      </ul>
    </div>
  }
</section>

<!-- === Context Menu === -->
@if (contextMenu.isOpen) {
  <div class="context-menu" [style.top.px]="contextMenu.state().y" [style.left.px]="contextMenu.state().x">
    <button (click)="contextMenu.createFolder(data)">New Folder</button>

    @if (contextMenu.target) {
      <button (click)="contextMenu.rename()">Rename</button>
      <button (click)="contextMenu.delete(data)">Delete</button>
    }
  </div>
}

  <sb-file-drop class="drop-zone" (filesDropped)="onFilesDropped($event)" />
