# OS
.DS_Store

# Node / Angular
node_modules/
dist/
.angular/
.npm/

# Java / Kotlin / Gradle
target/
build/
.gradle/
out/
*.jar
*.war
*.class
*.log

# IDE
.idea/
.vscode/
*.iml
.run/

# Env
.env

# Storage
storage/
